header {
    text-align: center;
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 70%;
    padding: 1cm;
    text-align: center;
    border: 1px solid blue;
}