header {
    text-align: center;
    color: violet;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    width: 70%;
    padding: 1cm;
    text-align: center;
    border: 1px solid blue;
}